

<body>
    <h1> Documentation of {{ description.title }} </h1>
        <br>
    
    <h2> Description: </h2> 
        <div>   
            <p> identifier: {{ description.metadata.ident }} </p>
            <p> version: {{ description.metadata.version }} </p>
            <p> Release date: {{ description.metadata.dateR }} </p>
            <p> Update date: {{ description.metadata.dateU }} </p>
            <p> Published date: {{ description.metadata.dateP }} </p>
            {% if description.metadata.citation %}
            <p> Citation: {{ description.metadata.citation}} </p>
            {% endif %}
            <div>
                <h3> For what prupose was the dataset created?</h3>
                <p> {{ description.metadata.descriptionpurpose}}</p>
            </div>
            <div>
                <h3> Was there any specific tasks?</h3>
                <p> {{ description.metadata.descriptionTasks}}</p>
            </div>
            <div>
                <h3> Was there a specific gap that needed to be filled?</h3>
                <p> {{ description.metadata.descriptionGaps}}</p>
            </div>
            <div>
                <h3> Distribution, licences and applications </h3>
                <p> Licence: {{ description.metadata.licence}}</p>
                <p> Is public? {{ description.metadata.distribution.public}}</p>
                <p> How is distributed? {{ description.metadata.distribution.past}}</p>
                <p> Past applications: {{ description.metadata.uses.past}}</p>
                <p> Recommended applications: {{ description.metadata.uses.recommend}}</p>
                <p> Non-recommended: {{ description.metadata.uses.future}}</p>
            </div>
            <div>
                <h3> Keywords</h3>
                <p> Area: {{ description.metadata.area}}</p>
                <p> Tags: {{ description.metadata.tags}}</p>
            </div>

        </div>
       
        <div>
            <h2> Authoring: </h2>
            <div> 
                <h3> Who created the dataset? </h3>
                <table>
                    <tr>
                    <th>Name</th>
                    <th>email</th>
                    </tr>
                    {% for author in description.metadata.authoring.authors[0] %}
                    <tr>
                    <td>{{author.name}}</td>
                    <td>{{author.email}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div> 
                <h3> Who funded the dataset? </h3>
                <table>
                    <tr>
                    <th>Name</th>
                    <th>type</th>
                    <th>Grant</th>
                    </tr>
                    {% for funders in description.metadata.authoring.founding[0] %}
                    <tr>
                    <td>{{funder.name}}</td>
                    <td>{{funder.type}}</td>
                    <td>{{funder.grantId}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div> 
                <h3> Maintenance: </h3>
          
            </div>
        </div>
</body>