body    
    h1 Documentation of #{description.title}'s dataset
    h2 Metadata: 
    div     
        p identifier:  #{ description.metadata.ident } 
        p version:  #{ description.metadata.version } 
        if (description.metadata.datesR)
            p Release date:  #{ description.metadata.dates.datesR } 
        if (description.metadata.datesU)
            p Update date:  #{ description.metadata.dates.datesU } 
        if (description.metadata.datesP)
            p Published date: #{ description.metadata.dates.datesP } 
        if description.metadata.citation 
            p Citation:  #{ description.metadata.citation.citeText } 
        end
        div
            h3 For what prupose was the dataset created?
            p #{ description.metadata.desc.descriptionpurpose}
        div
            h3 Was there any specific tasks?
            each element in description.metadata.desc.descriptionTasks
                p #{element.name}

        div
            h3 Was there a specific gap that needed to be filled?
            p #{ description.metadata.desc.descriptionGaps}
        div
            h3 Distribution, licences and applications 
            if description.metadata.distribution.licence
                p Licence: #{ description.metadata.distribution.licence}
            if description.metadata.distribution.public
                p Is public? #{ description.metadata.distribution.public}
            if description.metadata.distribution.addCond
                p Additional Conditions? #{ description.metadata.distribution.addCond}
            if description.metadata.uses
                if description.metadata.uses.past
                    p Past applications: #{ description.metadata.uses.past}
                if description.metadata.uses.recommend
                    p Recommended applications: #{ description.metadata.uses.recommend}
                if description.metadata.uses.future
                    p Non-recommended: #{ description.metadata.uses.future}
        div
            h3 Keywords
            p Area:  
                each element in description.metadata.desc.area.areas 
                    div #{element.name}
            p Tags:
                each element in description.metadata.desc.tags.tags
                    div #{element.name} 
        div
            h2 Authoring: 
            div 
            if (description.metadata.authoring.authors[0].authors.length > 0)    
                h3 Who created the dataset? 
                table
                    tr
                        th Name
                        th email
                 
                        each author in description.metadata.authoring.authors[0].authors
                            tr
                                td  #{author.name}
                                td  #{author.email}
            div
             if (description.metadata.authoring.founding.length > 0) 
                h3 Who funded the dataset? 
                table
                    tr
                        th Name
                        th type
                        th Grant
                      
                        each funder in description.metadata.authoring.founding[0].funders
                            tr
                                td #{funder.name}
                                td #{funder.type}
                                if funder.grantId
                                    td #{funder.grantId}
                                else    
                                    td Not Provided
            div
                if (description.metadata.authoring.maintainers.length > 0)
                    h3 Who Maintains the dataset?
                    table
                        tr
                            th Name
                            th Email
                        each mantainer in description.metadata.authoring.maintainers
                            tr
                                td #{mantainer.name}
                                td #{mantainer.email}
                if description.metadata.erratum
                    p Erratum: #{ description.metadata.erratum}
                if description.metadata.dataRetention
           
                    p Data Retention: #{ description.metadata.dataRetention}
                if description.metadata.support 
                    p Version lifecycle: #{ description.metadata.support}
                if description.metadata.contribGuides
                    p Contribution guidelines: #{ description.metadata.contribGuides}
    
    h2 Composition:
    div 
        p Rationale: #{description.composition.compodesc}
        p Total Size: #{description.composition.numberInst}
        div 
            p Instance: #{description.composition.instances.instances[0].name}
            p Description: #{description.composition.instances.instances[0].descrip}
            p Size: #{description.composition.instances.instances[0].numIns}
            p Number of attributes: #{description.composition.instances.instances[0].attrnum}
            p Type: #{description.composition.instances.instances[0].type}
            h3 Attributes: 
            each attribute in description.composition.instances.instances[0].attributes
                div 
                    p Name: #{attribute.name}
                    if attribute.attdesc
                        p Description: #{attribute.attdesc}
                    if attribute.unique
                        p Unique Values: #{attribute.unique}
                    if attribute.count
                        p Count: #{attribute.count}
                    if attribute.attType
                        p Type: #{attribute.attType.name}
  
    h2 Provenance: 
    p Curation Rationale: #{description.provenance.curation}

    if description.socialConcerns
        h2 Social Concerns 
        p Rationale: #{description.socialConcerns.desc}
        each issue in description.socialConcerns.socialIssues
            div 
                p Issue: #{issue.name}
                p Issue Type: #{issue.IssueType}
                p Description: #{issue.desc}
                if issue.senseAtt
                    p Related Attributes: #{issue.senseAtt.$refText}
        
        




